@font-face {
    font-family: 'PoliceTitre';
    src: url('data/PoliceTitre.ttf');
}

#titre{
	font-family: 'PoliceTitre';
	font-size: 5em;
}
@media (max-width:600px){
	#titre{
	font-family: 'PoliceTitre';
	font-size: 2em;
}}