
#Reponse{
	display: flex;
	flex-direction: column;
}
ul{
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 0vh;
	display: inline-flex;
	list-style: none;
}
li{
	width: 25%;
	padding-left: 10vw;
}
.color{
	border-radius: 100vw;
	padding:1.8vw;
	padding-right: 0vw;
	padding-left: 0vw;
}
.color option{
	border:none;
}
.Bt_blanc{
	background-color: #ffffff;
}
.Bt_rose{
	background-color: #ff67cc;
}
.Bt_vert{
	background-color: #67fc80;
}
.Bt_rouge{
	background-color: #ff0000;
}
.Bt_orange{
	background-color: #ff9c00;
}
.Bt_gris{
	background-color: #b9b9b9;
}
.Bt_jaune{
	background-color: #f7ff41;
}
.Bt_bleu{
	background-color: #06bcfc;
}
#button	{
	padding-top: 2vw;
	margin-left: 35vw;
}	
#Valide{
	border-radius: 100vw;
	padding:10vw;
	padding-right: 5vw;
	padding-left: 5vw;
}