
#Reponse{
	display: flex;
	flex-direction: column;
}
ul{
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 0vh;
	display: inline-flex;
	list-style: none;
}
li{
	width: 25%;
	padding-left: 10vw;
}
.color{
	border-radius: 100vw;
	padding:1.8vw;
	padding-right: 0vw;
	padding-left: 0vw;
}
.Bt_rose{
	background-color: #ff67cc;
}
#button	{
	padding-top: 2vw;
	margin-left: 35vw;
}	
#Valide{
	border-radius: 100vw;
	padding:10vw;
	padding-right: 5vw;
	padding-left: 5vw;
}